@model NamrataKalyani.Models.DashboardModel

<script>
    function ChangeReportType() {
         
        window.location = "http://localhost:54429/Doc/ComputerBloodPictureReport";

             //window.location.href = '@Url.Action("ComputerBloodPictureReport", "Doc")';

        //if (SelectListItem =="BloodPictureReport") {
        //    window.location = "http://localhost:54429/Doc/ComputerBloodPictureReport";
        //} else if (SelectListItem =="BiochemistoryReportLIPID") {
        //    window.location = "http://localhost:54429/Doc/ClinicalBiochemistoryReportLIPIDProfile";
        //} else {
        //    window.location = "http://localhost:54429/Doc/ClinicalBiochemistoryReportLTF";
        //}
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="form-control">
        <div class="form-group">

            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          
            <div class="form-group">
                @Html.LabelFor(model => model.ReportType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.ReportType, "", new { @class = "text-danger" })
                    @Html.DropDownList("ReportType", new List<SelectListItem>
                   ()
               {
                   new SelectListItem{Text="BiochemistoryReportLIPID"},
                   new SelectListItem{Text="BiochemistoryReportLTF"},
                   new SelectListItem{Text="BloodPictureReport" },
               }, htmlAttributes: new { @class = "control-label col-md-4" })

                </div>
            </div>


            <div class="btn-group-justified">
                <div class="col-md-offset-2 col-md-4">
                    <input type="button" value="Create Test" class="btn btn-default" onclick="ChangeReportType();" />
                </div>
            </div>
        </div>
    </form>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
