@model NamrataKalyani.Models.ReportByPidModel
@{
    ViewBag.Title = "Print_Report";
}
<style>
    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    .table > tbody > label > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
        font-size: 16px !important;
    }

    label {
        font-size: 16px !important;
    }
</style>
<link href="~/Content/Print.css" rel="stylesheet" />
<div>
    <div class="container" style="padding-top:10px;">
        <h2></h2><br /> <h2></h2>
        <a rel="stylesheet"><img src="~/Content/Images/PrintIcon.png" onclick="window.print(); document.margin='none'; return false;"></a>
        <table style="border-collapse: collapse; border-spacing: 0 15px; border: solid" width="80%" align="center" cellspacing=1 cellpadding=1>
            <tr style="border: double; border-width: 1px 0;">
                <td>
                    @Html.Label("Sr No :- ", new { style = "color:Black; text-decoration:underline; " })
                    @Html.Label(Model.Srno.ToString(), new { style = "color:Black; font-weight: normal;" })
                </td>
                <td>
                    @Html.Label("Date:-", new { style = "color:Black;text-decoration:underline;" })
                    @DateTime.Now
                </td>
            </tr>
            <tr style="border: double; border-width: 1px 0;">
                <td>
                    @Html.Label("Pt. Name :- ", new { style = "color:Black ; text-decoration:underline;" })
                    @Html.Label(Model.Pname, new { style = "color:Black; font-weight: normal;" })
                </td>
                <td>
                    @Html.Label("Age :-", new { style = "color:Black ; text-decoration:underline;" })
                    @Html.Label(Model.Age.ToString(), new { style = "color:Black; font-weight: normal;" })
                </td>
            </tr>

            <tr style="border:double; border-width: 1px 0;">
                <td>
                    @Html.Label("Ref. By DR :-", new { style = "color:Black ; text-decoration:underline; " })
                    @Html.Label(Model.RefByDoc, new { style = "color:Black; font-weight: normal;" })
                </td>
                <td>
                    @Html.Label("Gender :-", new { style = "color:Black ; text-decoration:underline;" })
                    @Html.Label(Model.Gender, new { style = "color:Black; font-weight: normal;" })
                </td>
            </tr>
        </table>
        <div>
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
        </div>
    </div>
</div>
